# Dependencias (pesan mucho y no se suben)
node_modules/
frontend/node_modules/
backend/node_modules/

# Variables de entorno (¡SECRETOS!)
.env
backend/.env

# Archivos de compilación y temporales
dist/
dev-dist
*.local

# Archivos de sistema
.DS_Store
Thumbs.db

# Lanzar proyecto
docs/run.md

# Subir los cambios a GitHub
docs/git.md